<footer class="footer">
  {% include social-icons.html %}

  <ul>
    <li><a href="https://github.com/Code-and-Coffee-Uptown-Brigade/codeofconduct/blob/master/README.md" target="_blank">Code of Conduct</a></li>
    <li><a href="https://www.codeforamerica.org" target="_blank">Code for America</a></li>
    <li><a href="#">Open Uptown Budget</a></li>
    <li><a href="#">Brigade Network</a></li>
  </ul>

  <div class="legend">Code for America Labs, Inc. is a non-partisan, non-political 501(c)(3) charitable organization. EIN number 27-1067272.</div>

  <div class="post-date">&#9426; {{ site.author }} 2018</div>

</footer>