@import   
  "main/header";

.container {
  // 
  width: auto;

  header {
    .social-icons, .menu a {
      color: white;
    }

    img {
      max-height: 5rem;  // Look at .site-header min-height
      border-radius: 0;
      float: left;
    }
  }

  .site-header {
    background-color: #ffffff;
    border-bottom: #cf1b41 solid 1px;
    min-height: 5rem;

    a:hover {
      color: #3fa9f5;
    }

    a {
      color: #cf1b41;
      text-decoration: none;
    }
  }

  .post-container {
    display: block;
    margin: auto;
    width: 75%;
    h1, h3, h4 {
      text-align: left;
    }

    h3 {
      color: #dc3545;
    }

    p {
      text-align: left;
      margin: 0;
    }

    #ou-logo {
      display: block;
      margin: auto;
    }

    .menu-content-inside {
      text-align: center;
      a {
        text-decoration: none;
      }
      button {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        margin-top: 20px;
        width: 200px;
        background-color: #3fa9f5;
        border: 0;
        text-transform: uppercase;
        color: white;
      }
    }
  }

  .event {
    border: #3fa9f5 solid 1px;

    h3 {
      color: #dc3545;
    }
    p {
      margin: 0 50px;
      text-align: left;
    }

    .event-timedate-text {
      font-size: 1rem;
      color: grey;
    }

    .menu-content-inside {
      text-align: center;
      a {
        text-decoration: none;
      }
      button {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        margin-top: 20px;
        width: 200px;
        background-color: #3fa9f5;
        border: 0;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}

/*
  Footer
*/

.footer {
  margin: 0;
  background-color: #cf1b41;
  text-align: center;
  color: white;

  a {
    padding: 10px;
    text-decoration: underline;
    color: white;

    &:hover {
      color: #333;
    }
  }

  li {
    list-style-type: none;
  }

  .legend {
    color: white;
    font-size: 0.8rem;
    padding: 0 40px;
  }
}

/*
  Post
*/

.post-date {
  color: white;
}

/*
  Events
*/

@include media-query($on-palm) {
  .post-container {
    width: 100% !important;
  }

  .event-timedate-text {
    color: grey;
  }
  .events {
    width: 100% !important;
  }

  .event {
    width: 100% !important;
    max-height: none !important;
    overflow: none !important;
    margin-top: 1rem;
  }
}

.events {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  h4 {
    margin-top: 0;
    padding-top: 0;
    padding-left: 3.25rem;
    background-color: #3fa9f5;
    border-bottom: #cf1b41 solid 1px;
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #cf1b41;
      }
    }
  }

  .event {
    position: relative;
    display: inline-block;
    margin-right: 5%;
    margin-left: 0;
    width: 50%;
    vertical-align: top;
    height: 40rem;
    overflow: auto;
  }

  .event-photo {
    max-height: 14rem;
    display: block;
    margin: auto;
  }

  .event-content {
    padding: 2%;
  }
   p {
     padding-top: 1rem;
   }

  .button {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    padding: .5rem 12.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    background-color: #3fa9f5;
    border: 0;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    &:hover {
      color: #cf1b41
    }

  }

}


